#intro-section {
  padding: 102px 0;
  background-color: #333;

  .intro-line {
    margin-bottom: 32px;

    & > .intro-line-text {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-bottom: 10px;

      h2 {
        color: #999;
        font-size: 24px;
      }

      .initial-div {
        display: flex;
        align-items: center;

        p {
          color: #fff;
          font-size: 18px;
          padding: 0 6px;
        }
      }
    }

    .line {
      height: 1px;
      background-color: #fff;
    }
  }

  .introduce-div {
    display: flex;
    justify-content: space-between;

    .profile-img {
      overflow: hidden;
      width: 152px;
      height: 152px;
      border-radius: 50%;
      background-size: cover;
      margin-right: 16px;
      pointer-events: none;
    }

    article {
      width: 28%;
      padding: 32px;
      border-radius: 4px;
      background-color: #fff;

      h5 {
        text-align: left;
        margin-bottom: 8px;
      }

      p {
        text-align: left;
        line-height: 20px;
        overflow-y: hidden;

        &:nth-child(1) {
          margin-bottom: 18px;

          span {
            font-weight: 600;
          }
        }

        a {
          color: #666;

          img {
            width: 24px;
            margin-right: 6px;
            display: inline-block;
            transform: translateY(4px);
          }
        }
      }
    }
  }

  .introduce-text {
    margin-top: 32px;
    color: #eaeaea;
    line-height: 1.6;
    text-align: left;
    padding: 0 16px;

    span {
      width: 12px;
      display: inline-block;
    }
  }

  @media (max-width: 768px) {
    padding: 42px 0;

    .introduce-div {
      flex-direction: column;

      article {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
