#history-section {
  background-color: #fff;

  .history-box-wrap {
    .history-box {
      display: flex;
      .line-div {
        width: 64px;
        overflow: hidden;
        margin-right: 42px;
        .circle {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #333;
          margin: 0 auto;
        }
        .line {
          width: 2px;
          height: 100%;
          background-color: #333;
          margin: 0 auto;
        }

        @media (max-width: 768px) {
          margin-right: 12px;
        }
      }

      .content-div {
        margin-bottom: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
        h3 {
          text-align: left;
          font-size: 24px;
          margin-bottom: 8px;
        }
        h4 {
          text-align: left;
          font-size: 18px;
          margin-bottom: 10px;
          color: #444;
        }

        .project-box {
          button {
            display: flex;
            align-items: start;
            padding: 8px 12px;
            transition: 0.1s;
            border-radius: 4px;
            margin-bottom: 4px;

            span {
              font-size: 24px;
              color: #999;
              margin-right: 12px;
            }

            h5 {
              text-align: left;
              margin-bottom: 10px;
              color: #666;
            }
            p {
              text-align: left;
              margin-bottom: 4px;
              color: #666;
            }

            &:hover {
              background-color: #f1f2f3;
            }
          }
        }
      }

      &:last-child {
        .content-div {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }
}
