.react-responsive-modal-modal {
  max-width: 864px;

  h2 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 32px;
    text-align: left;
  }

  img {
    width: 100%;
    max-width: 678px;
    border: 1px solid #ccc;
  }

  table {
    width: 100%;
    max-width: 678px;
    border: 1px solid #eaeaea;
    border-collapse: collapse;
    margin-top: 24px;
    th,
    td {
      text-align: left;
      border: 1px solid #eaeaea;
      padding: 14px 16px;
      box-sizing: content-box;
    }
    th {
      width: 72px;
      text-align: center;
      @media (max-width: 768px) {
        width: 38px;
      }
    }

    .stack-icon {
      transform: scale(0.8);
      margin: 0;
    }

    .modal-text {
      line-height: 24px;

      ul {
        list-style-position: outside;
        padding-left: 12px;
        li {
          text-align: left;
          margin-bottom: 8px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    * {
      font-size: 14px;
    }
  }
}
