#stack-section {
  .stack-div {
    .stack-box {
      display: flex;
      align-items: start;
      margin-bottom: 18px;

      h5 {
        font-size: 18px;
        width: 22%;
        text-align: left;
        margin-top: 24px;
      }
    }
  }

  @media (max-width: 768px) {
    .stack-div {
      .stack-box {
        flex-direction: column;
        h5 {
          width: 100%;
          margin-top: 8px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
